body{
	font:normal 120% Tahoma,Arial,Verdana;
	background-color:#fff;
}

form{
	background-color:#ccc;
	width:250px;
	margin:20px;
	padding:20px;
	border:1px solid #ddd;
}

label{
	text-transform:capitalize;

}

p{
	font-size:12px;
	color:steelblue;
}

field:div{
	margin:8px 0px;
}