.table img{
	width:8em;
	height:6em;
}
#header{
	font-weight:800;
	text-align:center;
}
.footer{
	font-size:1em;
	border:hidden;
	font-weight:600;
	text-align:right;
}
.footer td(3){
	text-align:center;
}
.red{
	color:red;
}

#billing{
	position:absolute;
	right:17em;
}
.count{
	text-align:center;
}
.btn btn-default{
	text-align:left;
}