body{
	padding-top: 90px;
	background: url('../images/foodbg5.jpg') no-repeat center fixed;
	background-size:100%;
}
/* .media-object{ */
/* 	width:8em; */
/* 	height:6em; */
/* } */
#header{
	font-weight:800;
	text-align:center;
}
/* .table{ */
/* 	background-color:#dcdcdc; */
/* } */
.table th{
	text-align:center;
}
.footer{
	font-size:1em;
	border:hidden;
	font-weight:600;
	text-align:right;
}
.footer td(3){
	text-align:center;
}
.red{
	color:red;
}

#billing{
	position:absolute;
	right:17em;
}
.price,.count,.countTd,.total,.remove{
	text-align:center;
}
img{
	width:12em;
	height:9em;
}


