body{
	background: url('../images/background.png') no-repeat center fixed;
}
tr{
	background-color:white;
	text-align:center;
}
tr:nth-child(odd){
	background-color:#ffffa8;
/* 	color:#191919; */
}
tr:nth-child(1){
	background-color:#9dceff;
}
td{
/* 	width: 10em; */
	text-align:center;
}
table {
	border-collapse: collapse;
	border-spacing: 0; 
}
td,th {
	text-align:center;
	padding: 0; 
}
h3{
	font-weight: 900;
}
#content{
	margin-top: 5em;
}
.row {

  width: 100%;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0.5em;
    font-weight: bold;
}
hr {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #384145 inset;
}

 