body {
  margin: 0.75em;
  text-align:center;
 /* color: #ebebeb;*/
  font-family: Tahoma;
  background-color: #bec2c5;
/*   background-color: #000000; */
}

header, section, aside, footer {
	margin-inside: 0.625em; 
	border:inset 1px transform;
/* 	background-color: white; */
	
}

#resp{
	height:15em; 
	width:100%;
	overflow:auto;
	color:#ffc526;
	background-color:#444444;
}
#resultIndex{
	height:40em; 
	width:100%;
	overflow:auto;
	color:#ffc526;
	background-color:#444444;	
}
table {
	border:solid 1px; 
	margin-left:1.250em; 
 	text-align:center;
	height: 2em; 
	width: 170em;
	/*background-color:#ffe793;*/
	color: #444444;
	table-layout:fixed;
	
}

button{
	background-color:#444444;
	color: #ffc526;
	border-radius: 1em;
/* 	position: absolute;  */
/* 	lefy: 15em; */
/* 	margin:1em; */
}
#buttonsearch{
	background-color:white;
/* 	position: absolute;  */
/* 	right: 30em; */
/* 	margin:30em; */
}
input{
	color: #444444;
}


tr{
	background-color:white;
	width: 15.625em;
}

tr:nth-child(1){
	background-color:#d6eaf3;
	color:#0699f0; 
}

td{
	width: 15.625em;
}
/* tr:nth-child(even){ */
/* 	background-color::#a4cfdf; */
/* } */

.highlight{
	background:#018bbd;
}