body {
  margin: 2em;
  text-align:center;
 /* color: #ebebeb;*/
  font-family: Tahoma;
  font-size: 16px;
  background-color: #444444;
/*   background-color: #000000; */
}

header, section, aside, footer {
	margin-inside: 0.625em; 
	border:inset 1px transform;
/* 	background-color: white; */
	
}
#indexheader{
	
	color:#ffc526;
}

#resultIndex{
	height:38em; 
	width:88em;
	overflow:auto;
	color:#018bbd;
/* 	background-color:#bec2c5; */
	border-style:outset;
	border: none;	
}

#portfolio{
	width:90em;
	
	background-color:#444444;
	border-style:outset;
	border: none;
}


table {
	border:solid 1px; 
	margin-left:1.250em; 
 	text-align:center;
	height: 2em; 
	width: 170em;
	/*background-color:#ffe793;*/
	color: #444444;
	table-layout:fixed;
	display: block;
	
}


button{
	font-weight:bold;
	border-radius: 0.5em;
	border-style:outset;

}
#formSelect{
	position: absolute; 
	right: 8em;
	margin:1em;
}
#buttonsearch{
/* 	background-color:white; */
	position: absolute; 
	left: 19em;
	top: 0em;
	

}
#buttoninsert{
	position: absolute; 
	left: 7em;
	top: -1em;
	margin:1em;
}
#buttonupdate{
	position: absolute; 
	left: 12.5em;
	top: 3em;
	margin:1em;
}
#buttondelete{
	position: absolute; 
	left: 16em;
	top: 3em;
	margin:1em;
	color:red;
}

/* #submitinsert{ */
/* 	position: absolute;  */
/* 	left: 16em; */
/* 	top: 9em; */
/* 	margin:1em; */
/* } */


tr{
	background-color:white;
	width: 15.625em;
}
tr:nth-child(odd){
	background-color:#ffffbb;
	 
}
tr:nth-child(1){
	background-color:#d6eaf3;
	color:#0699f0; 
}


td{
	width: 15.625em;
}
/* tr:nth-child(even){ */
/* 	background-color::#a4cfdf; */
/* } */

.highlight{
	background:#018bbd;
}

