*{
	background-color:#292929;
	color:#ebebeb;
}
#resp{
	height:8.125em; 
	width:100%;
	overflow:auto;
	color:#ffbf26;
}
#resultIndex{
	height:25.500em; 
	width:100%;
	overflow:auto;
	
}



body {
  margin: 0.625em;
  /*background-color: #ff8000;*/
  font-family: Tahoma;
}

header, section, aside, footer {
	 margin-inside: 0.625em; 
	border:inset 1px #808080;
}

table {
	border:solid 1px; 
	margin-left:1.250em; 
 	text-align:center;
	height: 0.3em; 
	width: 2.7em;
	background-color:#ffbf26; 
	
}

nav {
	height: 0.3em;
	width: 2.5em;
	/*overflow:scroll;*/
}

button {
	width: 3.125em;
	height: 3.125em;
}

#window{
	background-color: #292929;
	background:-webkit-linear-gradient(Top,#6bc9fc 0%,#ffffff 70%);
}

/* .container-fuild{ */
/* 	background:#292929; */
/* 	color:#1290c3; */
/* 	/*width: 100px;*/ */
/* } */

footer {
	height: 6.250em;
}

tr:nth-child(odd){
	background-color:#e7e7e7;
}
tr:nth-child(even){
	background-color::#a4cfdf;
}
td{
	font-family: Tahoma;
	font-size: 1.250em;
	border: solid 1px #6ccf21;
	
}