
#resp{
	height: 130px; 
	width:100%;
	overflow:auto;
	background-color:#b0c4de;
}
#resultIndex{
	height: 408px; 
	width:100%;
	overflow:auto;
	background-color:#77c749;
}



body {
  margin: 0;
  /*background-color: #ff8000;*/
  font-family: Tahoma;
}

header, section, aside, footer {
	 margin-inside: 10px; 
	border:inset 1px #808080;
}

table {
	border:solid 1px; 
	margin-left:20px; 
 	text-align:center;
	height: 30%; 
	width: 250%; 
	
}

nav {
	height: 30%;
	width: 250%;
	overflow:scroll;
}

button {
	width: 50px;
	height: 50px;
}

#window{
	background-color: #dd5044;
	background:-webkit-linear-gradient(Top,#6bc9fc 0%,#ffffff 70%);
}

.container-fuild{
	background:#f2de76;
	/*width: 100px;*/
}

footer {
	height: 100px;
}

tr:nth-child(odd){
	background:#e7e7e7;
}
tr:nth-child(even){
	background:#a4cfdf;
}
td{
	font-family: Tahoma;
	font-size: 20px;
	border: solid 1px #000000;
}