
body {
  margin: 0;
  background-color: #ffffc4;
  font-family: Tahoma;
}

header, section, aside, footer {
	/* margin-inside: 10px;*/
	border: solid 1px #808080;
}

table {
	border:solid 1px; 
/* 	margin-left:20px; */
	text-align:center;
	height: 30%; 
	width: 250%; 
	
}

nav {
	height: 30%;
	width: 250%;
	overflow:scroll;
}

button {
	width: 50px;
	height: 50px;
}

#window{
	background-color: #6bc9fc;
	background:-webkit-linear-gradient(Top,#6bc9fc 0%,#ffffff 70%);
}

#showDAOJsp {
	height: 80px;
	overflow:auto;
}

#showResult {
	height: 350px;
	overflow:auto;
}

footer {
	height: 100px;
}

tr:nth-child(odd){
	background:#e7e7e7;
}
tr:nth-child(even){
	background:#a4cfdf;
}
td{
	font-family: Tahoma;
	font-size: 20px;
	border: solid 1px #000000;
}